*{
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
   text-decoration: none !important;
}

.navbar{
    background-color: #13795B;
}

.header-img{
    width: 30rem;
}

.header{
    padding-block: 7rem;
    border-bottom: 2px solid black;
    background: #efe7e7a4;
}